@import url(http://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:900,400);

body {
    background-color: #002b36;
    color: #839496;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    line-height: 125%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: auto;
    max-width: 800px;
    vertical-align:middle;
}

pre {
    border:solid 1px;
    border-color:#268bd2;
    border-radius:5px;
    padding:5px;
}

code {
    color:#fdf6e3;
    font-family:'Roboto Mono',monospace;
    font-size:14px;
}

a:link    { color: #268bd2; text-decoration: none; }
a:visited { color: #268bd2; text-decoration: none; }
a:hover   { color: #268bd2; text-decoration: none; }
a:active  { color: #268bd2; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { color: #fdf6e3; }

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }

#name  { float:left;  position:relative; }
#links { float:right; position:relative; margin-top:1.5ex; }

#head-sep {
    border-bottom:1px solid #268bd2;
    clear:both;
    height:1px;
}

#navtree {
    border-right:1px solid #268bd2;
    float:left;
    margin-right:1em;
    padding-right:1em;
}

#main { float:left; }
