body {
    background-color: #002b36; }

h1 {
    color:#dc322f;
    font-size:120pt;
    left:0;
    line-height:200px;
    margin-top:-100px;
    position:absolute;
    text-align:center;
    top:50%;
    width:100%; }
